NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

WSO2IS_CLIENT_ID=
WSO2IS_CLIENT_SECRET=
WSO2IS_SCOPES=
WSO2IS_HOST=
WSO2IS_TENANT_NAME=